.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: var(--secondary_color);
  height: min-content;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 7px;
}

.left a {
  font-size: 20px;
  border: 1px solid var(--primary_color);
  border-radius: 10px;
  transition: var(--transition);
  padding: 3px 20px 3px 20px;
  text-decoration: none;
  color: var(--primary_color);
}

.left a:hover {
  background-color: var(--primary_color);
  color: var(--secondary_color);
}

.middle h3 {
  color: var(--primary_color);
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 7px;
}

.right a {
  font-size: 18px;
  padding: 3px;
  text-decoration: none;
  color: var(--primary_color);
  cursor: pointer;
}

/* phone */
@media only screen and (max-width: 600px) {
  .left {
    display: none;
  }
  .middle {
    margin-left: 20px;
  }
  .right {
    margin-right: 20px;
  }
  .left a {
    font-size: 10px;
  }
  .middle h3 {
    font-size: 10px;
  }
  .right a {
    font-size: 10px;
  }
}

/* tablet */
@media only screen and (max-width: 768px) {
}
